name: Build toolchain variants

on:
  push:
    branches:
      - main
  pull_request:
    branches: 
      - main
  workflow_dispatch:
    inputs:
      binutils_branch:
        description: 'Binutils branch to build'
        required: false
        default: 'woarm64'
      gcc_branch:
        description: 'GCC branch to build'
        required: false
        default: 'woarm64'
      mingw_branch:
        description: 'Mingw branch to build'
        required: false
        default: 'woarm64'

jobs:
  build-toolchain:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [aarch64, x86_64]
        platform: [w64-mingw32, pc-linux-gnu]
        crt: [msvcrt, ucrt]
        exclude:
          - platform: pc-linux-gnu
            crt: ucrt

    env:
      BINUTILS_REPO: ZacWalk/binutils-woarm64
      BINUTILS_BRANCH: ${{ github.event.inputs.binutils_branch }}
      BINUTILS_VERSION: binutils-master
      GCC_REPO: ZacWalk/gcc-woarm64
      GCC_BRANCH: ${{ github.event.inputs.gcc_branch }}
      GCC_VERSION: gcc-master
      MINGW_REPO: ZacWalk/mingw-woarm64
      MINGW_BRANCH: ${{ github.event.inputs.mingw_branch }}
      MINGW_VERSION: mingw-w64-master
      TARGET: ${{ matrix.arch }}-${{ matrix.platform }}
      CRT: ${{ matrix.crt }}
      INSTALL_PATH: ${{ github.workspace }}/cross

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: ${{ github.workspace }}
        
      - name: Checkout binutils
        uses: actions/checkout@v4
        with:
          repository: ${{ env.BINUTILS_REPO }}
          ref: ${{ env.BINUTILS_BRANCH }}
          path: ${{ github.workspace }}/code/${{ env.BINUTILS_VERSION }}

      - name: Checkout GCC
        uses: actions/checkout@v4
        with:
          repository: ${{ env.GCC_REPO }}
          ref: ${{ env.GCC_BRANCH }}
          path: ${{ github.workspace }}/code/${{ env.GCC_VERSION }}

      - name: Checkout MinGW
        if: ${{ matrix.platform != 'pc-linux-gnu' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ env.MINGW_REPO }}
          ref: ${{ env.MINGW_BRANCH }}
          path: ${{ github.workspace }}/code/${{ env.MINGW_VERSION }}

      - name: Install dependencies
        run: |
          .github/scripts/install-dependencies.sh

      - name: Install libraries
        run: |
          .github/scripts/install-libraries.sh
  
      - name: Build binutils
        run: |
          .github/scripts/build-binutils.sh

      - name: Build MinGW headers
        if: ${{ matrix.platform != 'pc-linux-gnu' }}
        run: |
          .github/scripts/build-mingw-headers.sh

      - name: Build GCC
        run: |
          .github/scripts/build-gcc.sh

      - name: Build MinGW CRT
        if: ${{ matrix.platform != 'pc-linux-gnu' }}
        run: |
          .github/scripts/build-mingw-crt.sh

      - name: Build libgcc
        run: |
          .github/scripts/build-libgcc.sh

      - name: Build MinGW
        if: ${{ matrix.platform != 'pc-linux-gnu' }}
        run: |
          .github/scripts/build-mingw.sh

      - name: Build GCC libs
        run: |
          .github/scripts/build-gcc-libs.sh

      - name: Upload artifact
        if: ${{ matrix.platform != 'pc-linux-gnu' }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.TARGET }}-${{ env.CRT }}-toolchain
          path: ${{ env.INSTALL_PATH }}
          retention-days: 1
