name: Build toolchain variants

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      binutils_branch:
        description: 'Binutils branch to build'
        required: false
        default: 'woarm64'
      gcc_branch:
        description: 'GCC branch to build'
        required: false
        default: 'woarm64'
      mingw_branch:
        description: 'Mingw branch to build'
        required: false
        default: 'woarm64'
env:
  BINUTILS_BRANCH: ${{ github.event.inputs.binutils_branch }}
  GCC_BRANCH: ${{ github.event.inputs.gcc_branch }}
  MINGW_BRANCH: ${{ github.event.inputs.mingw_branch }}

jobs:
  run-script:
    runs-on: ubuntu-latest

    env:
      INSTALL_PATH: ${{ github.workspace }}/cross

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Install Dependencies
        run: |
          .github/scripts/install-dependencies.sh

      - name: Run Build
        run: |
          .github/scripts/build.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: aarch64-w64-mingw32-toolchain
          path: ${{ env.INSTALL_PATH }}
          retention-days: 1
