name: Build toolchain

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      binutils-branch:
        description: 'Binutils branch to build'
        required: false
        default: 'woarm64'
      gcc-branch:
        description: 'GCC branch to build'
        required: false
        default: 'woarm64'
      mingw-branch:
        description: 'Mingw branch to build'
        required: false
        default: 'woarm64'
env:
  BINUTILS_BRANCH: ${{ github.event.inputs.binutils-branch }}
  GCC_BRANCH: ${{ github.event.inputs.gcc-branch }}
  MINGW_BRANCH: ${{ github.event.inputs.mingw-branch }}

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential binutils-for-build texinfo bison flex zlib1g-dev libgmp-dev dejagnu libmpc-dev

      - name: Run Bash Script
        run: |
          chmod +x ./build.sh
          bash ./build.sh
