name: Build main toolchain

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      binutils_branch:
        description: 'Binutils branch to build'
        required: false
        default: 'woarm64'
      gcc_branch:
        description: 'GCC branch to build'
        required: false
        default: 'woarm64'
      mingw_branch:
        description: 'Mingw branch to build'
        required: false
        default: 'woarm64'
env:
  BINUTILS_BRANCH: ${{ inputs.binutils_branch }}
  GCC_BRANCH: ${{ inputs.gcc_branch }}
  MINGW_BRANCH: ${{ inputs.mingw_branch }}

jobs:
  build-toolchain:
    runs-on: ubuntu-latest

    env:
      INSTALL_PATH: ${{ github.workspace }}/cross

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Run Build
        run: |
          ./build.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: main-aarch64-w64-mingw32-toolchain
          path: ${{ env.INSTALL_PATH }}
          retention-days: 1
